<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSO</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" href="/other/normalize.css<%= mtime ? `?_=` + mtime : `?__` %>">-->
    <link rel="stylesheet" href="/dist/front.bundle.css<%= mtime ? `?_=` + mtime : `?__` %>">

<!--    https://fonts.google.com/specimen/Alegreya?preview.text=WATCHDOG&preview.text_type=custom&sidebar.open=true&selection.family=Alegreya-->
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
</head>
<body data-mode="<%= mode %>">
    <div id="app"></div>
    <script src="/preprocessed.js<%= mtime ? `?_=` + mtime : `?__` %>"></script>
    <script src="/dist/runtime.bundle.js<%= mtime ? `?_=` + mtime : `?__` %>"></script>
    <script src="/dist/front.bundle.js<%= mtime ? `?_=` + mtime : `?__` %>"></script>
</body>
</html>